{% extends 'base.html' %}
{% load static %}
{% load filtros %}
{% block main %}
<!--CSS Personalizado para os cards-->
<style>
    .card-img-top {
        object-fit: cover;
        /* Garante que a imagem cubra o espaço disponível sem perder as proporções */
        object-position: center;
        /* Centraliza a imagem no espaço disponível */
        width: 100%;
        /* Faz a imagem preencher 100% da largura do card */
        height: 14rem;
        /* Define uma altura fixa para todas as imagens */
    }
</style>
<div class="container-fluid mt-5 ms-2">
    <div class="row container-fluid">
        <div class="text-center">
            <p class="text-white fs-3">Apoiadores do Evento</p>

            <hr class="text-white">
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{message.tags}}" role="alert">{{message}}</div>
            {% endfor %}
            {% endif %}
        </div>
        {% if request.user|esta_no_grupo:"administradores"%}
        <div>
            <a class="btn btn-primary" href="{% url 'central:criar_apoiador' %}">Adicionar Apoiador</a>
        </div>
        {% endif %}

        <div class="row">
            {% for apoiador in apoiadores %}
            <div class="card mb-2 mt-2 mx-2" style="width: 17rem; height:22rem">
                <img src="{{ apoiador.foto.url }}" class="card-img-top">
                <div class="card-body d-flex flex-column">
                    <div class="mt-auto">
                        <p class="card-text">{{apoiador.nome_completo}}</p>
                        {% if request.user|esta_no_grupo:"administradores" %}
                        <div class="d-flex">
                            <a class="btn btn-secondary btn-sm"
                                href="{% url 'central:editar_apoiador' apoiador.pk %}">Editar&nbsp;
                                <i class="bi bi-pencil"></i></a>
                            <a class="btn btn-danger btn-sm ms-2"
                                href="{% url 'central:deletar_apoiador' apoiador.pk %}">Apagar&nbsp;<i
                                    class="bi bi-trash"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}