{% extends 'base.html' %}
{% load static %}
{% block title%}Inscrever-se{%endblock%}

{% block main %}
<div class="container-fluid ps-5 mt-5">
    <div class="row container-fluid">
        <div class="col mb-2">
            <div class="card">
                <div class="text-center mt-5">
                    <img src="{% static 'img/make.png'%}" style="width: 150px">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Make Your Self</h5>
                  <p class="card-text">Categoria de quem confeccionou sua própria fantasia! </p>
                  <a href="{% url 'central:inscrever_makeyourself'%}" class="btn btn-outline-primary w-100">Inscrever-se</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="text-center">
                    <img src="{% static 'img/buy.png'%}" class="card-img-top" style="width: 223px;">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Categoria Fantasy</h5>
                  <p class="card-text">Categoria de quem comprou ou alugou a fantasia</p>
                  <a href="{% url 'central:inscrever_fantasy'%}" class="btn btn-outline-primary w-100">Inscrever-se</a>
                </div>
              </div>
        </div>

    </div>
</div>
    
{% endblock %}