{% extends 'base.html' %}
{% load static %}
{% block title%}Ranking{%endblock%}

{% block main %}
<div class="container-fluid bg-light rounded shadow mt-3 ms-2">
  <h3 class="text-center py-2">Resultado Categoria - Fantasy </h3>
</div>

<div class="table-responsive my-2 ms-2 bg-light rounded">
  <table class="table table-striped" id="rankingTable">
    <thead>
      <tr>
        <th scope="col">Participante</th>
        <th scope="col">Criatividade</th>
        <th scope="col">Estetica</th>
        <th scope="col">Performance</th>
        <th scope="col">Sustentabilidade</th>
        <th scope="col">Nota Final</th>
      </tr>
    </thead>
    <tbody>
      {% for participante in participantes %}
        <tr>
          <td>{{ participante.nome_completo }}</td>
          <td>{{ participante.total_nota_criatividade }}</td>
          <td>{{ participante.total_nota_estetica }}</td>
          <td>{{ participante.total_nota_performance }}</td>
          <td>{{ participante.total_nota_sustentabilidade }}</td>
          <td>{{ participante.nota_final_agregada }}</td> 
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
</div>
{% endblock %}